<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LAWmini</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> 
	<link href="assets/css/datepicker.css" rel="stylesheet"/>
	
	
	
	<!-- Loading Angular libs-->
        <script src="assets/js/jquery-1.10.2.js"></script>
		 <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/lib/angular.js"></script>
    <script src="assets/js/lib/ui-bootstrap.js"></script>
    <script src="assets/js/lib/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="assets/js/lib/angular-cookies.js"></script>
	<script src="assets/js/bootstrap-datepicker.js"></script>





<!-- angular js -->

    <script src="assets/js/config/app.js"></script>
    <script src="assets/js/services/util_factory.js" ></script>
	<script src="assets/js/services/document_service.js" ></script>
	<script src="assets/js/ctrl/main_ctrl.js" ></script>
	<script src="assets/js/ctrl/defendant_ctrl.js" ></script>
	
<script src="assets/js/bootbox.min.js"></script>
</head>

<body  ng-app="myApp" >
    <div id="wrapper"  ng-controller="main">
	<div ng-include src="'templates/topnav.html'"></div>
        
        <!--/. NAV TOP  -->
        
		<div  ng-include src="'templates/sidenav.html'"></div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" ng-controller="defendant_ctrl" >
            <div id="page-inner" >
			
			<div class="row" style="color:#FFFFFF;margin-bottom:5px;">
			<div class="col-sm-1" style="vertical-align:middle">
			<h3>MATTER</h3>
			</div>
			<div class="col-sm-3">
                  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                           File Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.CaseType"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            File No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.CaseFileNo"  name=""/> </div>
                  </div>
				  
                </div>
                <div class="col-sm-3">            
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                           KIV</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.KIV"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Status</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.CaseStatus"  name=""/> </div>
                  </div>
				  
				  
                </div>
				
				
				<div class="col-sm-5">            
				  
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            File Open Date</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm" ng-model="data.FileOpenDate"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            File Close Date</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm" ng-model="data.FileCloseDate"  name=""/> </div>
                  </div>
				  
                </div>
				
				</div>
				
<div class="row" ng-init="Docpage=3">
              <div ng-include src="'templates/docmenu.html'"></div>
				</div>
			
		<div class="row" >
						
					
						<div class="col-md-10 col-centered"  style="margin:0px auto;">
					<div class="panel panel-default">
						<div class="panel-heading" style="border-bottom:solid 1px #666666" ng-init="title='Expense'">
							Defendant</div>
						
						<div class="panel-body">
						
						
						
						
						


<div class="form-body">
                <div class="col-lg-6">
				<div class="col-lg-10">
                  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                          Name 1st</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFirstName"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            ID/BRN No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFirstID"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Tax No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFirstTaxNo"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Contact no</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFirstContactNo"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFirstType"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                           Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.Email1"  name=""/> </div>
                  </div>
				  </div>
				  <div class="col-lg-2"><button class="btn-primary btn-sm  btn"><i class="fa fa-search-plus" aria-hidden="true"></i></button></div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-10">
                  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                          Name 3rd</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrThirdName"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            ID/BRN No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrThirdID"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Tax No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrThirdTaxNo"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Contact no</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrThirdContactNo"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrThirdType"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                           Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.Email3"  name=""/> </div>
                  </div>
				  </div>
				  <div class="col-lg-2"><button class="btn-primary btn-sm  btn"><i class="fa fa-search-plus" aria-hidden="true"></i></button></div>
                </div>
               
                
             
				<div >
				
</div>
            </div>
				<div class="top-buffer"></div>			
<div class="form-body">
                <div class="col-lg-6">
				<div class="col-lg-10">
                  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                          Name 2nd</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrSecName"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            ID/BRN No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrSecID"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Tax No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrSecTaxNo"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Contact no</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrSecContactNo"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrSecType"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                           Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.Email2"  name=""/> </div>
                  </div>
				  </div>
				  <div class="col-lg-2"><button class="btn-primary btn-sm  btn"><i class="fa fa-search-plus" aria-hidden="true"></i></button></div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-10">
                  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                          Name 4th</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFourthName"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            ID/BRN No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFourthID"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Tax No</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFourthTaxNo"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Contact no</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFourthContactNo"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                            Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.VndrFourthType"  name=""/> </div>
                  </div>
				  <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">
                           Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" ng-model="data.Vendor.Email4"  name=""/> </div>
                  </div>
				  </div>
				  <div class="col-lg-2"><button class="btn-primary btn-sm  btn"><i class="fa fa-search-plus" aria-hidden="true"></i></button></div>
                </div>
               
                
             
				<div >
				
</div>

            </div>


						</div>
					</div>  
					</div>
					
				</div> 
			 
			
		
		
		
				
	
			
		
				<footer>
				
        
				</footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
	 <script type="text/javascript">        $('.datepicker').datepicker('autoclose','true')</script>

    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>
	
	
	<script src="assets/js/easypiechart.js"></script>
	<script src="assets/js/easypiechart-data.js"></script>
	
	 <script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>
 
</body>

</html>