<div class="col-lg-10 col-centered" style="margin-bottom:10px;"><!-- Centered Tabs -->
<ul class="nav nav-pills nav-justified" style="background:#5BC0DE;color:#FFFFFF">
  <li ng-class="Docpage == 1 ? 'active' :''"><a  style="color:#FFFFFF" href="details.html"><strong>DETAILS</strong></a></li>
  <li ng-class="Docpage == 2 ? 'active' :''"><a style="color:#FFFFFF" href="docplaintiff.html"><strong>PLAINTIFF</strong></a></li>
  <li ng-class="Docpage == 3 ? 'active' :''"><a style="color:#FFFFFF" href="docdefendant.html"><strong>DEFENDANT</strong></a></li>
  <li ng-class="Docpage == 4 ? 'active' :''"><a style="color:#FFFFFF" href="blog.html"><strong>BLOG</strong></a></li>
  <li ng-class="Docpage == 5 ? 'active' :''"><a style="color:#FFFFFF" href="email.html"><strong>EMAIL</strong></a></li>
  <li ng-class="Docpage == 6 ? 'active' :''"><a style="color:#FFFFFF" href="timesheet.html"><strong>TIME SHEET</strong></a></li>
  <li ng-class="Docpage == 7 ? 'active' :''"><a style="color:#FFFFFF" href="document.html"><strong>DOCUMENTS</strong></a></li>
</ul></div>