<nav class="navbar-side">
		<div id="sideNavooo" href="" class="closed"><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse" style="height: 700px;">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a>                    </li>
                    <li>
                        <a href="addcase1.html"><i class="fa fa-desktop"></i> Add Case</a>                    </li>
						 <li>
                        <a href="timesheet.html"><i class="fa fa-desktop"></i>Documents</a>                    </li>
					<li>
                        <a href="login.html"><i class="fa fa-bar-chart-o"></i> LogOut</a>                    </li>
                   
                </ul>
            </div>
        </nav>